<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longyuan.dao.LyGateMapper">

    <resultMap id="BaseResultMap" type="com.longyuan.entity.LyGate">
        <id column="g_id" property="gId"/>
        <result column="g_user_id" property="gUserId"/>
        <result column="g_gate_id" property="gGateId"/>
        <result column="g_name" property="gName"/>
        <result column="deleted" property="deleted"/>
        <result column="version" property="version"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        g_id, g_user_id, g_gate_id, g_name, deleted, version, create_time, update_time
    </sql>

</mapper>