<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longyuan.dao.LyTaskRecordMapper">

    <resultMap id="BaseResultMap" type="com.longyuan.entity.LyTaskRecord">
        <id column="tr_id" property="trId"/>
        <result column="business_type" property="businessType"/>
        <result column="gate_id" property="gateId"/>
        <result column="reg_id" property="regId"/>
        <result column="perceive_id" property="perceiveId"/>
        <result column="perceive_name" property="perceiveName"/>
        <result column="perceive_type" property="perceiveType"/>
        <result column="perceive_value" property="perceiveValue"/>
        <result column="perceive_status" property="perceiveStatus"/>
        <result column="status" property="status"/>
        <result column="deleted" property="deleted"/>
        <result column="version" property="version"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        tr_id, business_type, gate_id, reg_id, perceive_id, perceive_name, perceive_type, perceive_value, perceive_status, status, deleted, version, create_time, update_time
    </sql>

</mapper>