<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longyuan.dao.SzzwIamachineryMapper">

    <resultMap id="BaseResultMap" type="com.longyuan.entity.SzzwIamachinery">
        <id column="agricultural_id" property="agriculturalId"/>
        <result column="town" property="town"/>
        <result column="powmachinery" property="powmachinery"/>
        <result column="lpmachinery" property="lpmachinery"/>
        <result column="plmachinery" property="plmachinery"/>
        <result column="plpromachinery" property="plpromachinery"/>
        <result column="harvester" property="harvester"/>
        <result column="phartrmachinery" property="phartrmachinery"/>
        <result column="spromachinery" property="spromachinery"/>
        <result column="version" property="version"/>
        <result column="deleted" property="deleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="timeinfo" property="timeinfo"/>
    </resultMap>

    <sql id="Base_Column_List">
        agricultural_id, town, powmachinery, lpmachinery, plmachinery, plpromachinery, harvester, phartrmachinery, spromachinery, version, deleted, create_time, update_time, timeinfo
    </sql>

</mapper>