<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longyuan.dao.SzzwQualityMapper">

    <resultMap id="BaseResultMap" type="com.longyuan.entity.SzzwQuality">
        <id column="quality_id" property="qualityId"/>
        <result column="town" property="town"/>
        <result column="basename" property="basename"/>
        <result column="place" property="place"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="contactname" property="contactname"/>
        <result column="telephone" property="telephone"/>
        <result column="remarks" property="remarks"/>
        <result column="version" property="version"/>
        <result column="deleted" property="deleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="timeinfo" property="timeinfo"/>
    </resultMap>

    <sql id="Base_Column_List">
        quality_id, town, basename, place, longitude, latitude, contactname, telephone, remarks, version, deleted, create_time, update_time, timeinfo
    </sql>

</mapper>