<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longyuan.dao.SzzwPovertyAlleviationMapper">

    <resultMap id="BaseResultMap" type="com.longyuan.entity.SzzwPovertyAlleviation">
        <id column="alleviation_id" property="alleviationId"/>
        <result column="region_name" property="regionName"/>
        <result column="agri_insure_total" property="agriInsureTotal"/>
        <result column="effic_agri" property="efficAgri"/>
        <result column="main_plant_agri" property="mainPlantAgri"/>
        <result column="dffic_agri_proportion" property="dfficAgriProportion"/>
        <result column="three_main_grain_plant_proportion" property="threeMainGrainPlantProportion"/>
        <result column="three_main_grain_contract_proportion" property="threeMainGrainContractProportion"/>
        <result column="region_jing" property="regionJing"/>
        <result column="region_wei" property="regionWei"/>
        <result column="version" property="version"/>
        <result column="deleted" property="deleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="current_timestamp" property="currentTimestamp"/>
    </resultMap>

    <sql id="Base_Column_List">
        alleviation_id, region_name, agri_insure_total, effic_agri, main_plant_agri, dffic_agri_proportion, three_main_grain_plant_proportion, three_main_grain_contract_proportion, region_jing, region_wei, version, deleted, create_time, update_time, current_timestamp
    </sql>

</mapper>