<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longyuan.dao.SzzwTillCropMapper">

    <resultMap id="BaseResultMap" type="com.longyuan.entity.SzzwTillCrop">
        <id column="crop_id" property="cropId"/>
        <result column="household_num" property="householdNum"/>
        <result column="crop_type" property="cropType"/>
        <result column="crop_area" property="cropArea"/>
        <result column="drug_equi_type" property="drugEquiType"/>
        <result column="use_drug_num" property="useDrugNum"/>
        <result column="version" property="version"/>
        <result column="deleted" property="deleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="current_timestamp" property="currentTimestamp"/>
    </resultMap>

    <sql id="Base_Column_List">
        crop_id, household_num, crop_type, crop_area, drug_equi_type, use_drug_num, version, deleted, create_time, update_time, current_timestamp
    </sql>

</mapper>