<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longyuan.dao.SzzwPlantingstatisticsMapper">

    <resultMap id="BaseResultMap" type="com.longyuan.entity.SzzwPlantingstatistics">
        <id column="plantingstatistics_id" property="plantingstatisticsId"/>
        <result column="plantingstatistics_statisticalname" property="plantingstatisticsStatisticalname"/>
        <result column="plantingstatistics_statistics" property="plantingstatisticsStatistics"/>
        <result column="plantingstatistics_statisticalunit" property="plantingstatisticsStatisticalunit"/>
        <result column="version" property="version"/>
        <result column="deleted" property="deleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="timeinfo" property="timeinfo"/>
    </resultMap>

    <sql id="Base_Column_List">
        plantingstatistics_id, plantingstatistics_statisticalname, plantingstatistics_statistics, plantingstatistics_statisticalunit, version, deleted, create_time, update_time, timeinfo
    </sql>

</mapper>