<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longyuan.dao.SzzwIntdymonitoringMapper">

    <resultMap id="BaseResultMap" type="com.longyuan.entity.SzzwIntdymonitoring">
        <id column="monitoring_id" property="monitoringId"/>
        <result column="mapname" property="mapname"/>
        <result column="desaddress" property="desaddress"/>
        <result column="insstation" property="insstation"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="version" property="version"/>
        <result column="deleted" property="deleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="timeinfo" property="timeinfo"/>
    </resultMap>

    <sql id="Base_Column_List">
        monitoring_id, mapname, desaddress, insstation, longitude, latitude, version, deleted, create_time, update_time, timeinfo
    </sql>

</mapper>