<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longyuan.dao.SzzwPpiosMapper">

    <resultMap id="BaseResultMap" type="com.longyuan.entity.SzzwPpios">
        <id column="ppios_id" property="ppiosId"/>
        <result column="ppios_township" property="ppiosTownship"/>
        <result column="ppios_noti" property="ppiosNoti"/>
        <result column="ppios_noie" property="ppiosNoie"/>
        <result column="ppios_trpde" property="ppiosTrpde"/>
        <result column="ppios_nole" property="ppiosNole"/>
        <result column="ppios_nob" property="ppiosNob"/>
        <result column="ppios_tnopgtc" property="ppiosTnopgtc"/>
        <result column="ppios_nofp" property="ppiosNofp"/>
        <result column="ppios_phone" property="ppiosPhone"/>
        <result column="version" property="version"/>
        <result column="deleted" property="deleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="timeinfo" property="timeinfo"/>
    </resultMap>

    <sql id="Base_Column_List">
        ppios_id, ppios_township, ppios_noti, ppios_noie, ppios_trpde, ppios_nole, ppios_nob, ppios_tnopgtc, ppios_nofp, ppios_phone, version, deleted, create_time, update_time, timeinfo
    </sql>

</mapper>