<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liao.view.dao.ViewBodyTitleMapper">

    <resultMap id="BaseResultMap" type="com.liao.view.entity.ViewBodyTitle">
        <id column="bodyt_id" property="bodytId"/>
        <result column="bodyt_name" property="bodytName"/>
        <result column="bodyt_parent_id" property="bodytParentId"/>
        <result column="title_type" property="titleType"/>
        <result column="bodyt_order" property="bodytOrder"/>
        <result column="version" property="version"/>
        <result column="deleted" property="deleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        bodyt_id, bodyt_name, bodyt_parent_id, title_type, bodyt_order, version, deleted, create_time, update_time
    </sql>

</mapper>