<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liao.view.dao.ViewCarouselTitleMapper">

    <resultMap id="BaseResultMap" type="com.liao.view.entity.ViewCarouselTitle">
        <id column="carouselt_id" property="carouseltId"/>
        <result column="carouselt_title" property="carouseltTitle"/>
        <result column="carouselt_order" property="carouseltOrder"/>
        <result column="version" property="version"/>
        <result column="deleted" property="deleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        carouselt_id, carouselt_title, carouselt_order, version, deleted, create_time, update_time
    </sql>

</mapper>